@import 'variables';
@import '../fonts/icons/style';
@import 'main_menu';
@import "buttons";
@import "form";
@import "modal";
@import "alert";
@import "file";
@import "notes";
@import "elements";
@font-face {
  font-family: 'OpenSans Regular';
  font-weight: 400;
  font-display: auto;
  src: local('Open Sans'), url('../fonts/opensans/regular.woff') format('woff');
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0 1em 1em;
}
body,
input,
select,
textarea,
button {
  font-family: "OpenSans Regular", 'Verdana', sans-serif;
  font-size: 16px;
}
h1, h2, h3, h4, h5 {
  margin: 0 0 1em 0;
}
header {
  h2, h3, h4, h5 {
    margin: 0;
  }
  h1 {
    line-height: 1;
  }
}
h1 {
  font-size: 1.6em;
}
h2 {
  font-size: 1.4em;
}
h3 {
  font-size: 1.2em;
}
h4 {
  font-size: 1em;
}
h5 {
  font-size: .8em;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
ul ul {
  margin-left: 0.5em;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}
p {
  margin: 0;
}
table, td, th {
  background-color: white;
  border: 1px solid #dee2e6;
}
table {
  border-collapse: collapse;
  margin-bottom: 0;
  width: 100%;
  text-align: left;
}
table thead th {
  vertical-align: bottom;
  font-weight: bolder;
}
table td, table th {
  padding: .3rem;
}
blockquote {
  font-style: italic;
  margin-left: 1em;
  background-color: #f7f7f7;
  padding: .5rem;
}
.sidebar {
  padding: 1em 1em 1em .5em;
}
.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.content {
  grid-column: span 12;
  margin-top: 4rem;
}
.sidebar {
  grid-column: span 3;
}
.content.with-sidebar {
  grid-column: span 9;
}
.autocomplete-list {
  position: absolute;
  z-index: 10;
  box-shadow: 0 1px 3px 0 rgba(142, 142, 142, 0.51);
  border: 1px solid $border-color;
  background-color: white;
  max-height: 200px;
  overflow-y: scroll;
}
.autocomplete-result {
  padding: 0 0.5rem 0.2rem 0.5rem;
  cursor: pointer;
  border-radius: 0;
  font-size: 0.7rem;
  border: none;
}
.autocomplete-result.is-active,
.autocomplete-result:hover {
  background-color: $blue;
  color: white;
}
.found-highlight {
  background-color: $yellow;
  color: black;
}
h1 .action {
  font-size: medium;
  margin-left: 3em;
}
.tab-content {
  border-top: $border-dark;
}
.one-line {
  display: flex;
}
.one-line label::after {
  content: ':';
  margin-right: 1rem;
}
.one-line span:not(:last-child)::after {
  content: ';';
  margin-right: 1rem;
}
.text-with-icon .icon {
  margin-right: 0.3em;
  position: relative;
  top: 2px
}
.calculators fieldset {
  width: 420px;
}
.calculators fieldset:not(:last-child) {
  margin-right: 1rem;
}
.calculators h2 {
  margin-top: 1em;
}

