.element-actions {
  display: flex;
  align-items: center;
}
.element-actions input[type="number"] {
  width: 4rem !important;
}
.element-actions > div:not(:last-child) {
  margin-right: .3rem;
}
.package-out-of td,
.package-out-of td .icon {
  color: red;
}
.inc-qty,
.dec-qty {
  white-space: nowrap;
}
td.package > div,
td.title > div {
  white-space: nowrap;
}
.title .icon-move {
  margin-right: .5rem;
}
td.package button,
td.title button {
  margin-left: 0.3rem;
}
.add-package button {
  font-size: 1.5rem;
}
.qty {
  text-align: right;
}
.elements-wrapper {
  display: flex;
}
.elements-by-type {
  flex: auto;
  padding-left: 1rem;
}
.elements-by-type .actions {
  margin: 1rem 0;
}
.types {
  padding-right: 1rem;
  border-right: 1px solid #ddd;
}
.types > header {
  margin-bottom: 1rem;
}
.types > header .title {
  text-transform: uppercase;
}
.flexed {
  display: flex;
}
.expander {
  margin-left: auto;
}
.type-item {
  padding: 0;
}
.type-item button {
  display: block;
  text-align: left;
  border-radius: 0;
}
.type:hover {
  cursor: pointer;
}
.type:hover,
.type.selected,
.type.selected .icon {
  color: #e15d43;
}
.type.selected,
.type.selected .icon {
  text-shadow: 1px 0 0 #943d2c;
}
.types > li > .type-item > .type {
  width: 300px;
}
.type-item-actions {
  display: flex;
  margin-right: 1rem;
}
.type-item-actions > button {
  margin-left: .5rem;
}
.edit-item {
  border: 1px solid #ddd;
  padding: .5em;
  margin: 1em 0;
  background: #f7f7f7;
}
.edit-item .units {
  margin-top: 1em;
}
.type-root-drop .drop {
  padding: .2rem;
  border: 2px dashed cornflowerblue;
  text-align: center;
  color: cornflowerblue;
}
[draggable=true] {
  cursor: pointer;
}
[draggable=true]:hover {
  outline: 1px dashed gray;
}
.drag-image {
  padding: 0.2em 0.5em;
  background: white;
  box-shadow: 0 0 2px 0;
}
.drop.drag-over {
  outline: 1px dashed gray;
  background-color: #efefef;
  text-shadow: 0 0 2px #bbb;
}
.generate-by-series-form fieldset {
  display: flex;
}
