.hidden-file-input {
  display: none;
}
.bar {
  height: 18px;
  background: green;
}
progress {
  width: 400px;
  margin: auto;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}
.file-info {
  white-space: nowrap;
}

.file-item .progress {
  width: 100px;
  height: 15px;
  margin-bottom: 0;
}
.file-type {
  padding: 0 .3em;
  width: 3em;
  display: inline-block;
  text-align: center;
}
.files,
.fileinput-button {
  margin-bottom: 1em;
}
.files .help-block {
  font-size: 0.9rem;
  text-align: center;
}
.files-to-upload,
.uploaded-files {
  margin-top: 2em;
}
.files-to-upload ul,
.uploaded-files ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}
.files-to-upload .file-item,
.uploaded-files .file-item {
  text-align: center;
  padding: .5rem;
  box-shadow: 0 0 1px 0;
  background-color: rgba(0, 0, 0, 0.03);
}
.uploaded-file-title-wrapper {
  display: flex;
  gap: .5em;
  justify-content: center;
}
.uploaded-file-remove {
  margin-top: 1em;
}

.file-preview img {
  max-height: 128px;
}
.drop-zone {
  cursor: pointer;
  border-radius: 1em;
  border: 2px dashed;
  line-height: 2em;
  padding: 2em;
  text-align: center;
  margin: 1em 0;
}
.drop-zone:hover,
.drop-zone.dragover {
  color: cornflowerblue;
  border-color: cornflowerblue;
}
