@import "variables";

form {
  padding: .5em;
  background-color: #fafafa;
  border: 1px solid #cecece;
}
input:not([type='button']):not([type='submit']):not([type='radio']):not([type='checkbox']):not([type='date']),
select,
textarea {
  padding: .2em;
  width: 100%;
  background-color: white;
  border: 1px inset #ddd;
}
input:not([type='button']):not([type='submit']):not([type='radio']):not([type='checkbox']):not([type='date']):focus-visible,
select:focus-visible,
textarea:focus-visible {
  outline: 1px solid #00c3ff;
  border: 1px inset #00c3ff;
}
label {
  display: block;
  margin-bottom: 2px;
}
fieldset {
  margin: 0;
}
legend {
  font-weight: bolder;
}
.form-group,
fieldset {
  margin-bottom: .5rem;
}
td .form-group {
  margin: 0;
}
input[type='radio'] {
  margin: 0 .2em 0 0;
}

table textarea.form-control {
  line-height: .8rem;
  font-size: $font-smaller-size;
}
.form-inline {
  display: flex;
  justify-content: space-between;
}
.form-inline > div {
  width: 100%;
}
.form-inline > div:not(:last-child) {
  margin-right: .5em;
}
.form-inline select {
  width: auto;
}
.form-control:not(textarea) {
  height: 2em;
}
input[type="number"] {
  max-width: 5em;
}
form label {
  display: block;
}
.actions {
  margin-top: 1em;
}
.actions > button:not(:last-child) {
  margin-right: .5em;
}
.form-inline-group {
  display: flex;
  align-items: flex-end;
  gap: 1em;
}
.form-inline-group > div:not(:last-child) {
  margin-right: .3rem;
}
.form-inline-group > .actions {
  margin-top: 0;
}
.form-group.required label:after {
  content: "*";
  color: red;
}
.form-group.item {
  background-color: #f9f9f9;
  box-shadow: 0 0 2px;
  padding: .5em;
}

.form-check {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.has-error .alert {
  font-size: $font-smaller-size;
  padding: .3em;
  margin: 0;
  position: absolute;
  z-index: 10;
  opacity: .85;
  white-space: nowrap;
}
.has-error .alert::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 10px;
  border-width: 10px;
  border-style: solid;
  border-color: #e7c3c3 transparent transparent transparent;
}
.form-group {
  position: relative;
}
form .menububble {
  position: absolute;
  display: -webkit-box;
  display: flex;
  z-index: 20;
  background: white;
  border: 1px solid #ddd;
  border-radius: 0;
  padding: 0;
  margin-bottom: .5rem;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .2s,visibility .2s;
  transition: opacity .2s,visibility .2s;
  box-shadow: 0 0 5px 0 #aaa;
}
form .menububble.is-active {
  visibility: visible;
  opacity: 100;
}
button.menububble__button {
  background-color: transparent;
  border: 0;
}
.menububble__form {
  display: flex;
  width: 600px;
}

.phantom-form {
  padding: 0;
  background: transparent;
  border: none;
}

