.main-menu-bar {
  display: flex;
  gap: 1em;
  padding: .5em 1em;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(#e15d43, #943d2c);
}
.main-menu-bar a {
  padding: .2em .3em;
  text-shadow: 0 0 1px black;
  text-align: center;
}
.main-menu-bar a,
.main-menu-bar a:hover,
.main-menu-bar a:focus {
  color: white;
}
.main-menu-bar a:hover,
.main-menu-bar a:focus {
  text-shadow: none;
}
.main-menu-bar .home-link {
  display: block;
  margin-right: 1em;
}
.main-menu-bar .menu-links {
  display: flex;
}
.main-menu-bar li > a {
  display: block;
  position: relative;
}
.main-menu-bar .active {
  background: linear-gradient(#943d2c, #e15d43);
  box-shadow: 0 0 5px 0;
  border-radius: .2rem;
  border: 1px solid;
}
