
.package-elements-tooltip {
  position: absolute;
  background-color: white;
  padding: 0.5rem;
  border: 1px solid gray;
  box-shadow: 0 0 1px 0 gray;
}
.package-elements-tooltip .btn-link {
  position: absolute;
  top: -1.5em;
  right: 0;
  background-color: white;
}
.package-elements-tooltip .package-title {
  font-weight: bolder;
}
