.modal-backdrop {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.3);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
}
.modal {
	background: $bg-light;
	box-shadow: 2px 2px 20px 1px;
	display: flex;
	flex-direction: column;
	padding: 0.3em;
	z-index: 2;
}
.modal-header,
.modal-footer {
	display: flex;
}
.modal-header {
	justify-content: space-between;
}
.modal-footer {
	justify-content: flex-end;
}
.modal-body {
	position: relative;
	padding: 0.5em;
}
.modal-fade-enter,
.modal-fade-leave-active {
	opacity: 0;
}
.modal-fade-enter-active,
.modal-fade-leave-active {
	transition: opacity 0.5s ease;
}
.modal-header .inline label {
	font-weight: bolder;
}

