@import '../../node_modules/pell/src/pell';
@import '../fonts/teditor/style';

.pell {
  border: 1px solid #b3b3b3;
}
.pell-actionbar {
  background-color: transparent;
  box-shadow: 0 1px 1px 0 #464646;
  border-bottom: none;
  display: flex;
  gap: 1px;
  padding: 2px;
  margin-bottom: 2px;
}
.pell-button {
  height: auto;
  width: auto;
  padding: 0.5rem;
  border: 1px solid #b3b3b3;
  background-color: white;
}
.pell-button-selected {
  background-color: #f0f0f0;
}
.pell-button:hover {
  background-color: #f0f0f0;
}
.pell-content {
  height: auto;
  max-height: 500px;
  background-color: white;
}
.note-add-form .pell-content {
  min-height: 5em;
}
.content.notes,
.content.note-new,
.content.note-edit {
  width: 960px;
  margin: 4rem auto 0;
}
@media all and (max-width: 800px) {
  .content.notes,
  .content.note-new,
  .content.note-edit {
    width: 100%;
  }
}
.note-short {
  padding: .5em;
  border: 1px solid #bbb;
  box-shadow: 0 1px 0 0 #656565;
}
.note.note-short:not(:last-child) {
  margin-bottom: 1em;
}
.note-short .note-files {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px dashed;
  padding-top: 1em;
  margin-top: 0.5em;
}
.note-short h2 {
  text-transform: uppercase;
}
.note-short .note-added-at {
  margin-left: auto;
}
.note-header {
  display: flex;
  gap: .5rem;
}
.note-title {
  text-transform: uppercase;
}
.note-short .note-info,
.note .note-subtitle {
  display: flex;
  padding: .3em 0;
}
.note-full main {
  margin-top: 1em;
}
.note .note-text {
  margin-bottom: 1em;
}
.note-text {
  line-height: 1.3;
  padding: .5rem;

}
.note-text ul {
  margin-left: 1rem;
}
.note-text li::before {
  content: "-";
  margin-right: .5rem;
}

.note .file-listing {
  display: flex;
  border-top: 2px dashed #656565;
  padding-top: 1rem;
}
.note .file-item {
  display: block;
  font-size: .8em;
}
.note .file-data {
  width: 100%;
}


.note-actions {
  display: flex;
  gap: .5rem;
  font-size: .9rem;
  margin-left: 1em;
  padding-left: 1em;
  border-left: 1px solid #bbb;
}
.note-actions button {
  font-size: inherit;
}
