@import "./variables";

@font-face {
  font-family: '#{$edit-font-family}';
  src:
    url('#{$edit-font-family}.ttf?13kky2') format('truetype'),
    url('#{$edit-font-family}.woff?13kky2') format('woff'),
    url('#{$edit-font-family}.svg?13kky2##{$edit-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-tedit-"], [class*=" icon-tedit-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$edit-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tedit-link {
  &:before {
    content: $icon-tedit-link;
  }
}
.icon-tedit-link_off {
  &:before {
    content: $icon-tedit-link_off;
  }
}
.icon-tedit-add_link {
  &:before {
    content: $icon-tedit-add_link;
  }
}
.icon-tedit-format_align_center {
  &:before {
    content: $icon-tedit-format_align_center;
  }
}
.icon-tedit-format_align_justify {
  &:before {
    content: $icon-tedit-format_align_justify;
  }
}
.icon-tedit-format_align_left {
  &:before {
    content: $icon-tedit-format_align_left;
  }
}
.icon-tedit-format_align_right {
  &:before {
    content: $icon-tedit-format_align_right;
  }
}
.icon-tedit-format_bold {
  &:before {
    content: $icon-tedit-format_bold;
  }
}
.icon-tedit-format_color_fill {
  &:before {
    content: $icon-tedit-format_color_fill;
  }
}
.icon-tedit-format_color_text {
  &:before {
    content: $icon-tedit-format_color_text;
  }
}
.icon-tedit-format_italic {
  &:before {
    content: $icon-tedit-format_italic;
  }
}
.icon-tedit-format_list_bulleted {
  &:before {
    content: $icon-tedit-format_list_bulleted;
  }
}
.icon-tedit-format_list_numbered {
  &:before {
    content: $icon-tedit-format_list_numbered;
  }
}
.icon-tedit-format_quote {
  &:before {
    content: $icon-tedit-format_quote;
  }
}
.icon-tedit-format_size {
  &:before {
    content: $icon-tedit-format_size;
  }
}
.icon-tedit-format_underlined {
  &:before {
    content: $icon-tedit-format_underlined;
  }
}
.icon-tedit-strikethrough_s {
  &:before {
    content: $icon-tedit-strikethrough_s;
  }
}
.icon-tedit-text_fields {
  &:before {
    content: $icon-tedit-text_fields;
  }
}
.icon-tedit-code {
  &:before {
    content: $icon-tedit-code;
  }
}
.icon-tedit-horizontal_rule {
  &:before {
    content: $icon-tedit-horizontal_rule;
  }
}
.icon-tedit-superscript {
  &:before {
    content: $icon-tedit-superscript;
  }
}

