$edit-font-family: "teditor" !default;


$icon-tedit-link: "\e900";
$icon-tedit-link_off: "\e901";
$icon-tedit-add_link: "\e902";
$icon-tedit-format_align_center: "\e903";
$icon-tedit-format_align_justify: "\e904";
$icon-tedit-format_align_left: "\e905";
$icon-tedit-format_align_right: "\e906";
$icon-tedit-format_bold: "\e907";
$icon-tedit-format_color_fill: "\e908";
$icon-tedit-format_color_text: "\e909";
$icon-tedit-format_italic: "\e90a";
$icon-tedit-format_list_bulleted: "\e90b";
$icon-tedit-format_list_numbered: "\e90c";
$icon-tedit-format_quote: "\e90d";
$icon-tedit-format_size: "\e90e";
$icon-tedit-format_underlined: "\e90f";
$icon-tedit-strikethrough_s: "\e910";
$icon-tedit-text_fields: "\e911";
$icon-tedit-code: "\e912";
$icon-tedit-horizontal_rule: "\e913";
$icon-tedit-superscript: "\e914";

