<template>
  <div class="form-group">
    <label v-if="!!$slots.default"><slot></slot></label>
    <input type="text" v-model="title"
        @keydown.down="onArrowDown"
        @keydown.up="onArrowUp"
        @keydown.enter="onEnter"
        @keydown.esc.stop="onEsc"
        @input="onInput"
        @dblclick="onDblClick"
    />
    <ul class="autocomplete-list" v-show="isOpen">
      <li v-for="(item, index) of results"
          :key="index"
          class="autocomplete-result"
          :class="{'is-active': isActive(index)}"
          @click="select(index)"
          v-html="item.title"
      ></li>
    </ul>
  </div>
</template>

<script>
import {autocomplete} from "./mixins";

export default {
  name: "Autocomplete",
  mixins: [
    autocomplete
  ],
  // prop: ['value'],
  props: {
    value: String|null,
    items: Array,
  },
  data() {
    return {
      id: this.value,
      title: this.getTitle(),
      results: this.items,
      errors: new Map(),
      isOpen: false,
      selectedIndex: this.getSelectedItemIndex(),
    };
  },
  methods: {
    getTitle() {
      if (this.value && this.value.length > 0) {
        let item = this.items.find(item => item.id === this.value);
        return item.title;
      }
      return "";
    },
    getSelectedItemIndex() {
      if (this.value && this.value.length > 0) {
        let item = this.items.find(item => item.id === this.value);
        return this.items.indexOf(item);
      }
      return -1;
    },
    getFiltered() {
      let filtered = [];
      for(let _item of this.items) {
        if (_item.title.toLowerCase().includes(this.title.toLowerCase())) {
          let item = Object.assign({}, _item);
          item.title = this.foundStrHighlighted(item.title, this.title);
          filtered.push(item);
        }
      }

      return filtered;
    },
    select(index) {
      this.id = this.results[index].id;
      let item = this.items.find(item => item.id === this.id);
      this.title = item.title;
      this.isOpen = false;
      this.selectedIndex = -1;
      this.$emit('input', this.id);
    },
    onEnter() {
      if (-1 !== this.selectedIndex) {
        this.select(this.selectedIndex);
      }
    },
    onInput() {
      this.results = [];
      if (!this.isOpen) {
        this.isOpen = true;
        this.selectedIndex = -1;
      }
      if (this.title.length && undefined === this.items.find(item => item.title === this.title)) {
        this.results = this.getFiltered();
        this.id = null;
        this.$emit('input', this.id);
        this.$emit('title', this.title);
      }
    },
    isActive(index) {
      return index === this.selectedIndex;
    },
    onDblClick() {
      this.results = this.items.map((item) => item);
      this.isOpen = true;
    },
    /**
     * @param {string} str
     * @param {string} search_str
     *
     * @returns {string}
     */
    foundStrHighlighted(str, search_str) {
      let re = new RegExp(search_str + '(?!([^<]+)?<)', 'gi');
      return str.replace(re, '<span class="found-highlight">$&</span>');
    }
  }
};
</script>

