<template>
  <div class='help-block alert-danger' v-show="errors.has(field)"><span class='icon icon-error'></span>
    <ul>
      <li v-for="(msg, index) in errors.get(field)" v-html="msg"></li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "FieldError",
  props: {
    errors: Map,
    field: String,
  }
};
</script>
