<template>
	<transition name="modal-fade">
		<div class="modal-backdrop" @click="close">
			<div class="modal" @click.stop>
				<header class="modal-header">
					<slot name="header"></slot>
					<button class="btn-link" type="button" @click="close"><span class="icon icon-close"></span></button>
				</header>
				<main class="modal-body">
					<slot name="body"></slot>
				</main>
				<footer class="modal-footer">
					<button class="btn-link" type="button" @click="close"><slot name="close_label">Закрыть</slot></button>
					<slot name="footer"></slot>
				</footer>
			</div>
		</div>
	</transition>
</template>

<script>
	export default {
		methods: {
			close() {
				this.$emit('closed');
			},
			onEsc(event) {
				if (event.key === 'Escape') {
					this.close();
				}
			}
		},
		mounted() {
			document.addEventListener('keydown', this.onEsc);
		},
		destroyed() {
			document.removeEventListener('keydown', this.onEsc);
		}
	}
</script>
