<template>
  <div class="uploaded-file">
    <div class="file-preview"><img :src="file.thumb_url"/></div>
    <div class="file-info" v-trim-whitespace>
      <div class="uploaded-file-title-wrapper">
        <template v-if="!isTitleEditing">
          <div class="uploaded-file-human-name">{{ file.human_name }}</div>
          <button type="button" class="btn btn-link file-title-edit text-with-icon" @click="editTitleOn" ><span class="icon icon-edit"></span></button>
        </template>
        <template v-else>
          <input type="text" class="form-control title"
              @keydown.enter.stop.prevent="save"
              @keydown.esc.stop.prevent="esc"
              v-model="file.human_name"
              ref="title">
          <button type="button" class="btn btn-link" @click="save" title="сохранить"><span class="icon icon-save"></span></button>
          <button type="button" class="btn btn-link" @click="esc" title="отменить"><span class="icon icon-cancel"></span></button>
        </template>
      </div>
      <div class="uploaded-file-link"><a :href="file.url">{{ file.name }}</a></div>
      <button type="button" class="btn btn-danger remove uploaded-file-remove text-with-icon" @click="remove"><span class="icon icon-delete"></span>удалить</button>
    </div>
  </div>
</template>

<script>

import axios from "axios";
import {MsgToUser} from "../mixins";

export default {
  name: "UploadedFile",
  mixins: [
    MsgToUser,
  ],
  data() {
    return {
      isTitleEditing: false,
    };
  },
  props: {
    file: Object,
  },
  methods: {
    remove() {
      this.$emit('remove');
    },
    editTitleOn() {
      this.isTitleEditing = true;
      this.$nextTick(() => {
        this.$refs.title.focus();
      });
    },
    save() {
      axios.put(route("api.files.rename", {noteFile: this.file.id}), {
        title: this.file.human_name
      }).then((response) => {
        this.processResponse(response);
        this.isTitleEditing = false;
      });
    },
    esc() {
      this.isTitleEditing = false;
    },
  }
};
</script>

