<template>
  <fieldset class="files">
    <legend>Файлы</legend>
    <div class="help-block">
      <div v-for="help in rules.help">{{ help }}</div>
    </div>
    <drop-zone @clicked="onDropZoneClicked" ref="drop_zone"></drop-zone>
    <ul class="file-errors" v-if="errors.has('files')">
      <li class="alert alert-danger" v-for="(error, key) in errors.get('files')" v-html="error"></li>
    </ul>
    <progress max="100" :value.prop="uploadPercentage" v-show="isUploading"></progress>
    <input type="file" ref="input" multiple @change="handleFilesUpload()" class="hidden-file-input">
    <fieldset class="files-to-upload" v-if="toUpload.length">
      <legend>Файлы на загрузку</legend>
      <ul>
        <li class="file-item" v-for="(item, index) in toUpload">
          <div class="form-group">
            <label>Название</label>
            <input type="text" class="form-control title" @input="onTitleInput(index, $event)">
          </div>
          <div class="file-preview"><img :src="item.preview_src"/></div>
          <div class="file-data">
            <div class="file-info" v-trim-whitespace>
              {{ item.file.name }} ({{ formatFileSize(item.file.size) }})
              <button type="button" class="btn btn-link remove" @click="removeToUploadFile(index)">Удалить</button>
            </div>
          </div>
        </li>
      </ul>
    </fieldset>
    <fieldset class="uploaded-files" v-if="uploadedItems.length">
      <legend>Загруженные файлы</legend>
      <ul>
        <li class="file-item" v-for="(item, index) in uploadedItems" v-trim-whitespace>
          <uploaded-file :file="item" @remove="removeUploadedItem(index)"/>
        </li>
      </ul>
    </fieldset>
  </fieldset>
</template>

<script>
import {form, Formatter, RouteAdapter} from "../mixins";
import {dragDrop} from "../file/mixins";
import DropZone from "../file/DropZone";
import UploadedFile from "../file/UploadedFile";

export default {
  name: "Files",
  components: {
    DropZone,
    UploadedFile,
  },
  mixins: [
    form,
    Formatter,
    RouteAdapter,
    dragDrop,
  ],
  data() {
    return {
      uploadedItems: this.initFiles,
    };
  },
  props: {
    rules: Object,
    initFiles: Array,
    pdfThumbnail: String,
  },
  methods: {
    _addFile(file) {
      if ("application/pdf" === file.type) {
        this.toUpload.push({preview_src: this.pdfThumbnail, file: file});
        this.$emit("file-added", file);
      }
      else {
        let reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onloadend = () => {
          this.toUpload.push({preview_src: reader.result, file: file});
          this.$emit("file-added", file);
        };
      }
    },
    onTitleInput(index, event) {
      this.$emit("file-title-updated", index, event.target.value);
    }
  },
};
</script>
