<template>
  <form class="note-form" :class="cssClass" method="post">
    <div class="form-group">
      <label>Заголовок</label>
      <input type="text" v-model="title"/>
    </div>
    <div class="form-group">
      <label>Содержание</label>
      <div id="note-value" class="pell"></div>
    </div>
    <files
        :init-files="initNoteFiles"
        :rules="noteFileRules"
        :pdf-thumbnail="pdfThumbnail"
        @file-added="onFileAdded"
        @file-removed="onFileRemoved"
        @file-title-updated="onFileTitleUpdated"
    ></files>
    <div class="actions">
      <button type="button" class="btn btn-success" name="op" value="save" @click="save" v-if="initNoteId.length">Обновить</button>
      <template v-else>
        <button type="button" class="btn btn-success" name="op" value="save" @click="save">Добавить</button>
        <button type="button" class="btn btn-success" name="op" value="save_and_more" @click="save">Добавить эту и добавить ещё</button>
      </template>
    </div>
  </form>
</template>

<script>
import {MsgToUser} from "../mixins";
import axios from "axios";
import Files from "./Files";

import pell from "pell";

function getSelectedHref() {
  let selection;
  if (window.getSelection) {
    selection = window.getSelection();
  }
  else if (document.selection) {
    selection = document.selection.createRange();
  }
  let parent = selection.anchorNode;
  while (parent != null && parent.localName !== "a") {
    parent = parent.parentNode;
  }
  if (parent == null) {
    return "";
  }
  else {
    return parent.getAttribute("href");
  }
}

export default {
  name: "NoteForm",
  components: {
    Files,
  },
  mixins: [
    MsgToUser,
  ],
  data() {
    return {
      route: this.getRoute(),
      title: this.initTitle,
      text: this.initText,
      files: [],
      fileTitles: [],
      errors: new Map(),
    };
  },
  props: {
    initNoteId: String,
    initTitle: String,
    initText: String,
    noteFileRules: Object,
    initNoteFiles: Array,
    pdfThumbnail: String,
  },
  computed:{
    cssClass() {
      return this.initNoteId.length ? 'note-edit-form' : 'note-add-form';
    }
  },
  methods: {
    getRoute() {
      return this.initNoteId.length > 0
          ? route("api.notes.update", {note_id: this.initNoteId})
          : route("api.notes.add");
    },
    onFileAdded(file) {
      this.files.push(file);
      this.fileTitles.push("");
    },
    onFileRemoved(index) {
      this.files.splice(index, 1);
      this.fileTitles.splice(index, 1);
    },
    onFileTitleUpdated(index, title) {
      this.fileTitles[index] = title;
    },
    save(event) {
      let formData = new FormData();
      formData.append("op", event.target.value);
      formData.append("title", this.title);
      formData.append("text", this.text);
      for (let i in this.files) {
        formData.append("files[]", this.files[i]);
        formData.append("file_titles[]", this.fileTitles[i]);
      }

      axios.post(this.route, formData,
          {
            headers: {
              "Content-Type": "multipart/form-data"
            },
          }
      ).then((response) => {
        this.processResponse(response);

        if ("fail" === response.data.status) {
          return;
        }

        if ("undefined" !== typeof response.data.redirect) {
          location.href = response.data.redirect;
        }
      });
    },
  },
  mounted() {
// Initialize pell on an HTMLElement
    const editor = pell.init({
      // <HTMLElement>, required
      element: document.getElementById("note-value"),

      // <Function>, required
      // Use the output html, triggered by element's `oninput` event
      onChange: html => this.text = html,

      // <string>, optional, default = 'div'
      // Instructs the editor which element to inject via the return key
      defaultParagraphSeparator: "div",

      // <boolean>, optional, default = false
      // Outputs <span style="font-weight: bold;"></span> instead of <b></b>
      styleWithCSS: false,

      // <Array[string | Object]>, string if overwriting, object if customizing/creating
      // action.name<string> (only required if overwriting)
      // action.icon<string> (optional if overwriting, required if custom action)
      // action.title<string> (optional)
      // action.result<Function> (required)
      // Specify the actions you specifically want (in order)
      actions: [
        {
          name: "bold",
          icon: "<span class=\"icon-tedit icon-tedit-format_bold\"></span>",
        },
        {
          name: "underline",
          icon: "<span class=\"icon-tedit icon-tedit-format_underlined\"></span>",
        },
        {
          name: "italic",
          icon: "<span class=\"icon-tedit icon-tedit-format_italic\"></span>",
          result: () => pell.exec("italic")
        },
        "heading1",
        "heading2",
        {
          name: "quote",
          icon: "<span class=\"icon-tedit icon-tedit-format_quote\"></span>",
        },
        {
          name: "olist",
          icon: "<span class=\"icon-tedit icon-tedit-format_list_numbered\"></span>",
        },
        {
          name: "ulist",
          icon: "<span class=\"icon-tedit icon-tedit-format_list_bulleted\"></span>",
        },
        {
          name: "code",
          icon: "<span class=\"icon-tedit icon-tedit-code\"></span>",
        },
        {
          name: "line",
          icon: "<span class=\"icon-tedit icon-tedit-horizontal_rule\"></span>",
        },
        {
          name: "link",
          title: "Add URL link",
          icon: "<span class=\"icon-tedit icon-tedit-link\"></span>",
          result: () => {
            // https://github.com/jaredreich/pell/issues/185
            let link = getSelectedHref();
            const url = prompt("Enter the link URL", link);
            if (url) {
              pell.exec("createLink", url);
            }
            else {
              pell.exec("unlink", link);
            }
          }
        }
      ],

      // classes<Array[string]> (optional)
      // Choose your custom class names
      classes: {
        actionbar: "pell-actionbar",
        button: "pell-button",
        content: "pell-content note-text",
        selected: "pell-button-selected"
      }
    });

    editor.content.innerHTML = this.text;
  }
};
</script>
