<template>
  <table>
    <thead>
    <tr>
      <th>Корпус</th>
      <th>Элементов</th>
      <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    <tr v-for="item of items" class="package">
      <td>{{item.title}}</td>
      <td><button type="button" class="btn btn-link" title="Элементы" @click="getListOfElements(item)" v-if="item.qty">{{item.qty}}</button><div class="package-elements-tooltip" v-if="item.showElements">
        <button type="button" class="btn btn-link" title="Закрыть" @click="closeListOfElements(item)">закрыть</button>
        <div class="package-title">Корпус "{{item.title}}"</div>
        <div class="element-title" v-for="element of item.listElements">{{element}}</div>
      </div></td>
      <td><button type="button" class="btn btn-link" title="Удалить" @click="deletePackage(item)" v-if="!item.qty"><span class="icon icon-delete"></span></button></td>
    </tr>
    </tbody>
  </table>
</template>

<script>
import {InlineEdit, MsgToUser, RouteAdapter} from "../../mixins";
export default {
  name: "Manage",
  mixins: [
    MsgToUser,
    InlineEdit,
    RouteAdapter,
  ],
  data() {
    return {
      items: this._buildItems(this.initItems),

    };
  },
  props: {
    initItems: Array,
  },
  methods: {
    _buildItems(initItems) {
      let items = [];
      for(let item of initItems) {
        item.listElements = [];
        item.showElements = false;
        items.push(item);
      }
      return items;
    },
    getListOfElements(item) {
      console.info("getListOfElements item: %o", item);
      if (item.listElements.length) {
        item.showElements = true;
        return;
      }

      axios.get(route('api.elements.list_with_package', {package: item.id}))
          .then((response) => {
            if ('fail' === response.data.status) {
              this.processErrorsInResponse(response);
            }
            else {
              this.processSuccessInResponse(response);
              item.listElements = response.data.items;
              item.showElements = true;
            }
          }).catch((response) => {
        this.processCatch(response);
      });
    },
    closeListOfElements(item) {
      item.showElements = false;
    },
    deletePackage(item) {
      axios.delete(route('api.package.delete', {package: item.id}))
          .then((response) => {
        if ('fail' === response.data.status) {
          this.processErrorsInResponse(response);
        }
        else {
          this.processSuccessInResponse(response);
          this.items.splice(this.items.indexOf(item), 1);
        }
      }).catch((response) => {
        this.processCatch(response);
      });
    }
  }
};
</script>
