<template>
  <fieldset class="calc-cap-value-by-marking">
    <legend>Ёмкость по маркировке</legend>
    <div class="form-inline-group">
      <div class="form-group">
        <label for="marking">Маркировка</label>
        <input id="marking" type="number" size="4" v-model="marking" @keydown.enter="onEnter"/>
      </div>
      <div class="form-group actions" v-if="marking">
        <button type="button" class="btn btn-success" @click="calcValue">Получить ёмкость</button>
      </div>
    </div>
    <div class="result one-line" v-if="values.length">
      <label>Ёмкость</label><span v-for="value of values">{{ value }}</span>
    </div>
  </fieldset>
</template>

<script>
import {CalculatorValueByMarking} from "./CalculatorValueByMarking";

export default {
  name: "CalcCapValueByMarking",
  data() {
    return {
      values: [],
      marking: "",
      calculator: new CalculatorValueByMarking(["pF", "nF", "uF"]),
    };
  },
  methods: {
    onEnter() {
      this.calcValue();
    },
    calcValue() {
      this.values = this.calculator.get(this.marking);
    },
  }
};
</script>
