<template>
  <fieldset class="calc-cap-marking-by-value">
    <legend>Маркировка по сопротивлению</legend>
    <div class="form-inline-group">
      <div class="form-group">
        <label for="value">Значение</label>
        <input id="value" type="text" size="10" v-model="value" @keydown.enter="onEnter"/>
      </div>
      <div class="form-group">
        <label for="unit">Ед.</label>
        <select id="unit" v-model="unit">
          <option :value="val" v-for="val of units">{{ val }}</option>
        </select>
      </div>
      <div class="form-group actions" v-if="value">
        <button type="button" class="btn btn-success" @click="calcMarking">Получить маркировку</button>
      </div>
    </div>
    <div class="result one-line" v-if="marking">
      <label>Маркировка</label><span>{{ marking }}</span>
    </div>
  </fieldset>
</template>

<script>
import {CalculatorMarkingByValue} from "./CalculatorMarkingByValue";

const UNITS = ["R", "K", "M"];

export default {
  name: "CalcResMarkingByValue",
  data() {
    return {
      units: UNITS,
      value: "",
      unit: "R",
      marking: "",
      calculator: new CalculatorMarkingByValue(UNITS),
    };
  },
  methods: {
    onEnter() {
      this.calcMarking();
    },
    calcMarking() {
      this.marking = this.calculator.get(this.value, this.unit);
    },
  }
};
</script>
