<template>
  <div class="elements-by-type">
    <div class="elements-typed-wrapper">
      <fieldset v-if="elements.length > 10">
        <legend>Найти</legend>
        <div class="form-inline-group">
          <div class="form-group">
            <label>По названию/номиналу</label>
            <input type="text" v-model="searchByTitle"/>
          </div>
          <div class="form-group">
            <label>По корпусу</label>
            <input type="text" v-model="searchByPackage"/>
          </div>
        </div>
        <div class="form-group form-inline-group">
          <label v-for="(label, mode) in showModes"><input type="radio" :value="mode" v-model="showMode"/>{{ label }}</label>
        </div>
      </fieldset>
      <div class="actions">
        <button type="button" class="btn btn-link" @click="newElementRun()">Добавить "{{ type.title }}"</button>
        <button type="button" class="btn btn-link" @click="generateBySeriesRun()" v-if="typeHasSeries()">Сгенерировать "{{ type.title }}" по рядам</button>
      </div>
      <table v-if="foundElements.length">
        <thead>
        <tr>
          <th>Название/номинал</th>
          <th>Корпус</th>
          <th>Кол-во</th>
          <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="element of foundElements" :class="{'package-out-of': !element.qty}">
          <td class="title">
            <div v-if="element.is_editing_title">
              <div class="flexed">
                <input type="text" v-model="element.title"
                    @keydown.enter.stop.prevent="editTitleSave(element)"
                    @keydown.esc.stop.prevent="editTitleOff(element)"
                />
                <div class="element-title-actions">
                  <button type="button" class="btn btn-link" @click="editTitleSave(element)" title="сохранить"><span class="icon icon-save"></span></button>
                  <button type="button" class="btn btn-link" @click="editTitleOff(element)" title="отменить"><span class="icon icon-cancel"></span></button>
                </div>
              </div>
              <small class="form-text text-muted">Enter - сохранить, Esc - отменить</small>
            </div>
            <div v-else>
              <div class="flexed">
                <drag :transfer-data="{element}"
                    @dragstart="handleDragStart(element, ...arguments)">
                  <span class="icon icon-move"></span>
                  <span slot="image" class="drag-image">{{ element.title }}</span>
                </drag>
                <drop class="drop"
                    v-if="!element.is_editing_title"
                    :class="{'drag-over': element.is_dragover}"
                    @drop="handleDrop(element, ...arguments)"
                    @dragover="handleDragover(element, ...arguments)"
                    @dragleave="handleDragleave(element, ...arguments)">
                  <div class="item-title">{{ element.title }}</div>
                </drop>
                <button type="button" class="btn btn-link" @click="editTitleOn(element)" title="переименовать"><span class="icon icon-edit"></span></button>
              </div>
            </div>
          </td>
          <td class="package">
            <div v-if="element.is_editing_package_title">
              <div class="flexed">
                <input type="text" v-model="element.package.title"
                    @keydown.enter.stop.prevent="editPackageSave(element)"
                    @keydown.esc.stop.prevent="editPackageOff(element)"
                />
                <div class="element-package-actions">
                  <button type="button" class="btn btn-link" @click="editPackageSave(element)" title="сохранить"><span class="icon icon-save"></span></button>
                  <button type="button" class="btn btn-link" @click="editPackageOff(element)" title="отменить"><span class="icon icon-cancel"></span></button>
                </div>
              </div>
              <small class="form-text text-muted">Enter - сохранить, Esc - отменить</small>
            </div>
            <div v-else-if="element.is_replacing_package">
              <div class="flexed">
                <autocomplete v-model="element.package.id"
                    :items="getPackagesExcludeOfElement(element)"
                    @title="onPackageTitle"
                    @keydown.enter="replacePackageSave(element)"
                    @esc="replacePackageOff(element)"></autocomplete>
                <div class="element-package-actions">
                  <button type="button" class="btn btn-link" @click="replacePackageSave(element)" title="сохранить"><span class="icon icon-save"></span></button>
                  <button type="button" class="btn btn-link" @click="replacePackageOff(element)" title="отменить"><span class="icon icon-cancel"></span></button>
                </div>
              </div>
              <!--                  <small class="form-text text-muted">Enter - сохранить, Esc - отменить</small>-->
            </div>
            <div v-else>
              <div class="flexed">
                <div>{{ element.package.title }}</div>
                <div class="element-package-actions">
                  <button type="button" class="btn btn-link" @click="editPackageOn(element)" title="переименовать корпус"><span class="icon icon-edit"></span></button>
                  <button type="button" class="btn btn-link" @click="replacePackageOn(element)" title="изменить корпус"><span class="icon icon-replace"></span></button>
                </div>
              </div>
            </div>
          </td>
          <td class="qty">{{ element.qty }}</td>
          <td class="element-actions">
            <div class="inc-qty" v-trim-whitespace>
              <input type="number" min="1" v-model="element.inc_qty"/>
              <button type="button" class="btn btn-success" @click="increaseQty(element)">+</button>
            </div>
            <div class="dec-qty" v-if="element.qty" v-trim-whitespace>
              <input type="number" min="1" v-model="element.dec_qty"/>
              <button type="button" class="btn btn-warning" @click="decreaseQty(element)">-</button>
            </div>
            <div class="add-package" v-trim-whitespace>
              <button type="button" class="btn btn-link" @click="newElementPackageQtyRun(element)" title="добавить корпус"><span class="icon icon-add-package"></span></button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
      <div v-else>
        Ничего не найдено.
      </div>
    </div>
    <modal v-if="newElementPackageQty" @closed="onAddElementPackageQtyCanceled">
      <template v-slot:header>Новый корпус компонента</template>
      <template v-slot:body>
        <new-element-package-qty ref="newElementPackageQty" @add="onAddElementPackageQty" :data="newElementPackageQty"></new-element-package-qty>
      </template>
      <template v-slot:footer>
        <button class="btn-sm btn-primary" type="button" @click="addElementPackageQty">Добавить</button>
      </template>
    </modal>
    <modal v-if="newElement" @closed="onAddElementCanceled">
      <template v-slot:header v-if="newElementTypeId">Новый "{{ type.title }}"</template>
      <template v-slot:header v-else>Новый компонент</template>
      <template v-slot:body>
        <element-form ref="elementForm"
            @added="onAddedElement"
            :init-element="newElement"
            :packages="packages"
            :types="[]"
        ></element-form>
      </template>
    </modal>
    <modal v-if="generatorBySeries" @closed="onGenerateBySeriesCanceled">
      <template v-slot:header>Генерация по рядам</template>
      <template v-slot:body>
        <generate-by-series
            ref="generateBySeriesForm"
            @generated="onGeneratedBySeries"
            :type-id="type.id"
            :units="units[type.units_type].units"
            :packages="packages"
        ></generate-by-series>
      </template>
      <template v-slot:footer>
        <button class="btn-sm btn-primary" type="button" @click="generateBySeries">Сгенерировать</button>
      </template>
    </modal>
  </div>
</template>

<script>
import axios from "axios";
import {MsgToUser, RouteAdapter} from "../mixins";
import NewElementPackageQty from "./NewElementPackageQty";
import GenerateBySeries from "./GenerateBySeries";
import Modal from "../Modal";
import ElementForm from "./ElementForm";
import Autocomplete from "../Autocomplete";
import {EventBus} from "../EventBus";
import {Drag, Drop} from "vue-drag-drop";

const SHOW_ANY = 0;
const SHOW_OUT_OF_STOCK = 1;
const SHOW_IN_STOCK = 2;

export default {
  name: "ElementsByType",
  mixins: [
    MsgToUser,
    RouteAdapter,
  ],
  components: {
    NewElementPackageQty,
    GenerateBySeries,
    Modal,
    ElementForm,
    Autocomplete,
    Drag,
    Drop,
  },
  data() {
    return {
      elements: [],
      newPackageTitle: "",
      newElementPackageQty: null,
      newElement: null,
      newElementTypeId: null,
      generatorBySeries: null,
      showModes: {
        0: "все",
        1: "нет в наличии",
        2: "в наличии",
      },
      showMode: 0,
      searchByTitle: '',
      searchByPackage: '',
    };
  },
  props: {
    packages: Array,
    type: Object,
    units: Object,
  },
  computed: {
    foundElements() {
      let showMode = parseInt(this.showMode, 10);

      if (!this.searchByTitle.length && !this.searchByPackage.length) {
        return this.elements.filter(element => {
          return this.isShowElement(showMode, element);
        });
      }

      return this.elements.filter(element => {
        let isShowElement = this.isShowElement(showMode, element);

        let lowTitle = element.title.toLowerCase();
        let foundByTitle = lowTitle.includes(this.searchByTitle.toLowerCase());

        let lowPackage = element.package.title.toLowerCase();
        let foundByPackage = lowPackage.includes(this.searchByPackage.toLowerCase());

        if (this.searchByTitle.length && this.searchByPackage.length) {
          return foundByTitle && foundByPackage && isShowElement;
        }

        if (!this.searchByPackage.length) {
          return foundByTitle && isShowElement;
        }

        return foundByPackage && isShowElement;
      });
    },
  },
  methods: {
    isShowElement(showMode, element) {
      switch (showMode) {
        case SHOW_OUT_OF_STOCK:
          return element.qty === 0;

        case SHOW_IN_STOCK:
          return element.qty > 0;

        default:
          return true;
      }
    },
    handleDragStart(element, data) {
      data.item = element;
      data.type = "element";
    },
    handleDragover(element, data) {
      if ("element" === data.type && element.id !== data.item.id) {
        element.is_dragover = true;
      }
    },
    handleDragleave(element, data) {
      element.is_dragover = false;
    },
    handleDrop(target_element, data) {
      target_element.is_dragover = false;
      if ("element" !== data.type || target_element.id === data.item.id) {
        return;
      }

      let element = data.item;
      if (element.package.id !== target_element.package.id) {
        let src_package = this.packages.find(item => item.id === data.item.package.id);
        let target_package = this.packages.find(item => item.id === target_element.package.id);
        let question = `Корпус назначения "${target_package.title}" отличается от корпуса источника "${src_package.title}".\nОбъединенные элементы будут в корпусе назначения "${target_package.title}"\nЭто корректно?`;
        if (confirm(question)) {
          this._merge(target_element, element);
        }
      }
      else {
        this._merge(target_element, element);
      }
    },
    _merge(target_element, src_element) {
      axios.post(route("api.element.merge"), {
        src_element_id: src_element.id,
        src_package_id: src_element.package.id,
        target_element_id: target_element.id,
        target_package_id: target_element.package.id,
      }).then((response) => {
        this.processResponse(response);
        if ("success" === response.data.status) {
          target_element.qty = response.data.qty;
          let src_element_index = -1;
          do {
            src_element_index = this.elements.findIndex(item => item.id === src_element.id);
            if (-1 !== src_element_index) {
              this.elements.splice(src_element_index, 1);
            }
          } while (-1 !== src_element_index);
        }
      }).catch((response) => {
        this.processCatch(response);
      });
    },
    typeHasSeries() {
      return this.type.has_series;
    },
    editTitleOn(element) {
      element.is_editing_title = true;
    },
    editTitleSave(element) {
      let original = element.original_title.trim();
      let changed = element.title.trim();

      if (original === changed || changed.length === 0) {
        this.editTitleOff(element);
        return;
      }

      axios.put(route("api.element.rename"), {
        id: element.id,
        title: changed,
      }).then((response) => {
        this.processResponse(response);
        if ("fail" === response.data.status) {
          return;
        }

        let new_title = response.data.item.title;
        for(let index in this.elements) {
          if (this.elements[index].id === response.data.item.id) {
            this.elements[index].title = new_title;
            this.elements[index].original_title = new_title;
          }
        }

        this.editTitleOff(element);
      }).catch((response) => {
        this.processCatchResponse(response);
      });
    },
    editTitleOff(element) {
      element.is_editing_title = false;
    },
    replacePackageOn(element) {
      element.is_replacing_package = true;
    },
    onPackageTitle(title) {
      this.newPackageTitle = title;
    },
    replacePackageSave(element) {
      if (null === element.package.id) {
        this.addPackage(element).then(() => {
          this.replacePackage(element).then(() => {
            this.replacePackageOff(element);
          });
        }).catch((error) => {
          this.processCatchError(error);
        });
      }
      else {
        this.replacePackage(element).then(() => {
          this.replacePackageOff(element);
        }).catch((error) => {
          this.processCatchError(error);
        });
      }
    },
    replacePackageOff(element) {
      element.is_replacing_package = false;
      element.package.id = element.package.original_id;
    },
    replacePackage(element) {
      return axios.put(route("api.element.replace_package"), {
        element_id: element.id,
        current_package_id: element.package.original_id,
        new_package_id: element.package.id,
      }).then((response) => {
        if ("success" === response.data.status) {
          this.processResponse(response);
          let item = response.data.item;
          element.package = item;
          element.package.original_title = item.title;
          element.package.original_id = item.id;
        }
        else {
          throw new Error(JSON.stringify(response));
        }
      });
    },
    addPackage(element) {
      return axios.post(route("api.package.add"), {
        title: this.newPackageTitle
      }).then((response) => {
        if ("success" === response.data.status) {
          this.processResponse(response);
          this.packages.push(response.data.item);
          element.package.id = response.data.item.id;
        }
        else {
          throw new Error(JSON.stringify(response));
        }
      });
    },
    editPackageOn(element) {
      element.is_editing_package_title = true;
    },
    editPackageSave(element) {
      let original = element.package.original_title.trim();
      let changed = element.package.title.trim();

      if (original === changed) {
        this.editPackageOff(element);
        return;
      }

      axios.put(route("api.package.rename"), {
        id: element.package.id,
        title: changed,
      }).then((response) => {
        this.processResponse(response);
        if ("fail" === response.data.status) {
          return;
        }
        let responsePackage = response.data.item;

        for(let index in this.elements) {
          if (this.elements[index].package.id === responsePackage.id) {
            this.elements[index].package = responsePackage;
            this.elements[index].package.original_title = responsePackage.title;
          }
        }

        let index = this.packages.findIndex(item => item.id === responsePackage.id);
        this.packages[index].title = responsePackage.title;

        this.editPackageOff(element);
      }).catch((response) => {
        this.processCatchResponse(response);
      });
    },
    editPackageOff(element) {
      element.is_editing_package_title = false;
    },
    onElementMoved(src_type_id, element_id) {
      // Мы - отправитель, а получателем быть не можем, никак
      // (мы ведь тащим из текущего набора, а получатель при открытии получит свежий набор с сервера).
      if (src_type_id === this.type.id) {
        // У одного элемента может быть несколько корпусов.
        // Такой элемент будет представлен по строке на корпус.
        // Соответственно, если мы элемент переносим в другой тип,
        // все эти строки должны быть перенесены.
        let index = -1;
        do {
          index = this.elements.findIndex(item => element_id === item.id);
          if (-1 !== index) {
            this.elements.splice(index, 1);
          }
        } while (index !== -1);
      }
    },
    newElementRun() {
      this.newElement = {
        type_id: this.type.id, title: "", qty: 1, package_id: null,
      };
    },
    addElement() {
      this.$refs.elementForm.add();
    },
    onAddElementCanceled() {
      this.newElement = null;
      this.$emit("clear");
    },
    onAddedElement(data) {
      let el_package = this.packages.find(item => item.id === data.package.id);
      if ("undefined" === typeof el_package) {
        this.packages.push({id: data.package.id, title: data.package.title});
      }

      let element = this._initializedElement(data);

      let exists_index = this.elements.findIndex(item => item.title === element.title && item.package.id === element.package.id);
      if (-1 !== exists_index) {
        this.elements[exists_index].qty = parseInt(element.qty, 10);
      }
      else {
        this.elements.push(element);
      }

      this.newElement = null;
    },
    generateBySeriesRun() {
      if (!this.type.units_type) {
        alert(`У типа ${this.type.title} не определены единицы измерения!`);
        return;
      }
      if (undefined === typeof this.units[this.type.units_type]) {
        alert(`У типа ${this.type.title} определены несуществующие единицы измерения!`);
        return;
      }
      this.generatorBySeries = true;
    },
    generateBySeries() {
      this.$refs.generateBySeriesForm.generate();
    },
    onGenerateBySeriesCanceled() {
      this.generatorBySeries = null;
    },
    onGeneratedBySeries(items) {
      for (let item of items) {
        this.onAddedElement(item);
      }
      this.generatorBySeries = null;
    },
    getPackagesExcludeOfElement(element) {
      let currentPackages = [];
      for (let _element of this.elements) {
        if (_element.title === element.title && _element.id !== element.id) {
          currentPackages.push(_element.package.id);
        }
      }
      return this.packages.filter(x => !currentPackages.includes(x.id));
    },
    newElementPackageQtyRun(element) {
      let packages = this.getPackagesExcludeOfElement(element);
      this.newElementPackageQty = {
        packages: packages, element_id: element.id,
      };
    },
    addElementPackageQty() {
      this.$refs.newElementPackageQty.add();
    },
    onAddElementPackageQtyCanceled() {
      this.newElementPackageQty = null;
      this.$emit("clear");
    },
    onAddElementPackageQty(data) {
      axios.post(route("api.element.add_package_qty"), {
        element_id: data.element_id,
        package_id: data.package_id,
        qty: data.qty,
      }).then((response) => {
        this.processResponse(response);
        if ("fail" === response.data.status) {
          return;
        }

        let index = this.elements.findIndex(item => data.element_id === item.id) + 1;
        let element = this._initializedElement(response.data.item);
        this.elements.splice(index, 0, element);
      }).catch((response) => {
        this.processCatchResponse(response);
      }).finally(() => {
        this.newElementPackageQty = null;
      });
    },
    increaseQty(element) {
      let data = {
        element_id: element.id,
        package_id: element.package.id,
        qty: element.inc_qty,
      };
      axios.post(route("api.element.increase_qty"), data).then((response) => {
        this.processResponse(response);
        if ("fail" === response.data.status) {
          for (let field in response.data.errors) {
            this.errors = new Map(this.errors.set(field, response.data.errors[field]));
          }
        }
        else {
          element.qty = response.data.qty;
        }
      });
    },
    decreaseQty(element) {
      let data = {
        element_id: element.id,
        package_id: element.package.id,
        qty: element.dec_qty,
      };
      axios.post(route("api.element.decrease_qty"), data).then((response) => {
        this.processResponse(response);
        if ("fail" === response.data.status) {
          for (let field in response.data.errors) {
            this.errors = new Map(this.errors.set(field, response.data.errors[field]));
          }
        }
        else {
          element.qty = response.data.qty;
        }
      });
    },
    _initializedElement(item) {
      let element = {};
      element.id = item.element.id;
      element.title = item.element.title;
      element.inc_qty = 1;
      element.dec_qty = 1;
      element.qty = item.qty;
      element.original_title = element.title;
      element.is_editing_title = false;
      element.type_id = item.type.id;
      element.package = item.package;
      element.package.original_title = element.package.title;
      element.package.original_id = element.package.id;
      element.is_editing_package_title = false;
      element.is_replacing_package = false;
      element.is_dragover = false;

      return element;
    },
  },
  created() {
    EventBus.$on("element-moved", this.onElementMoved);
  },
  watch: {
    type: function (newValue, oldValue) {
      if (newValue.id === oldValue.id) {
        return;
      }
      axios.get(route("api.elements.list_by_type", {type: this.type.id}))
          .then((response) => {
            if ("fail" === response.data.status) {
              this.processErrorsInResponse(response);
            }
            else {
              this.elements = [];
              this.searchByTitle = '';
              this.searchByPackage = '';
              for (let item of response.data.items) {
                let element = this._initializedElement(item);
                this.elements.push(element);
              }
            }
          });
    }
  },
};
</script>

