<template>
  <form class="element-form">
    <div class="form-inline-group">
      <autocomplete v-if="types.length > 0" v-model="element.type_id" :items="types" @title="onTypeTitle">Тип</autocomplete>
      <div class="form-group">
        <label>Название/номинал</label>
        <input type="text" v-model="element.title"/>
        <field-error :errors="errors" :field="'title'"></field-error>
      </div>
      <div class="form-group">
        <label>Кол-во</label>
        <input type="number" min="1" v-model="element.qty"/>
        <field-error :errors="errors" :field="'qty'"></field-error>
      </div>
      <autocomplete v-model="element.package_id" :items="packages" @title="onPackageTitle">Корпус</autocomplete>
    </div>
    <footer class="form-actions">
      <button type="button" class="btn btn-success" @click.prevent="addElement">Добавить</button>
    </footer>
  </form>
</template>

<script>
import {MsgToUser} from "../mixins";
import FieldError from "../FieldError";
import Autocomplete from "../Autocomplete";

export default {
  name: "ElementForm",
  mixins: [
    MsgToUser,
  ],
  components: {
    FieldError,
    Autocomplete,
  },
  data() {
    return {
      element: this.initElement,
      newTypeTitle: '',
      newPackageTitle: '',
      errors: new Map(),
    };
  },
  props: {
    initElement: Object,
    types: {
      type: Array,
      default: null,
    },
    packages: Array,
  },
  methods: {
    onTypeTitle(title) {
      this.newTypeTitle = title;
    },
    onPackageTitle(title) {
      this.newPackageTitle = title;
    },
    addElement() {
      this.errors = new Map();
      if (!this.element.type_id || !this.element.package_id) {
        if (!this.element.type_id && !this.element.package_id) {
          this.addNewType().then(() => {
            this.addNewPackage().then(() => {
              this._addElement();
            }).catch((error) => {
              // Ошибка о добавлении
              this.processCatchError(error);
              // и информация для пользователя.
              this.showInfo("Не удалось добавить новый корпус.");
            });
          }).catch((error) => {
            // Ошибка о добавлении
            this.processResponse(JSON.parse(error.message));
            // и информация для пользователя.
            this.showInfo("Не удалось добавить новый тип.");
          });
        }
        else if (!this.element.type_id) {
          this.addNewType().then(() => {
            this._addElement();
          }).catch((error) => {
            // Ошибка о добавлении
            this.processCatchError(error);
            // и информация для пользователя.
            this.showInfo("Не удалось добавить новый тип.");
          });
        }

        else if (!this.element.package_id) {
          this.addNewPackage().then(() => {
            this._addElement();
          }).catch((error) => {
            // Ошибка о добавлении
            this.processCatchError(error);
            // и информация для пользователя.
            this.showInfo("Не удалось добавить новый корпус.");
          });
        }
      }
      else {
        this._addElement();
      }
    },
    _addElement() {
      axios.post(route('api.element.add'), this.element)
          .then((response) => {
            this.processResponse(response);
            if ("fail" === response.data.status) {
              for (let field in response.data.errors) {
                this.errors = new Map(this.errors.set(field, response.data.errors[field]));
              }
            }
            else {
              this.$emit("added", response.data.data);
            }
          });
    },
    addNewType() {
      return axios.post(route("api.type.add"), {
        title: this.newTypeTitle
      }).then((response) => {
        if ("success" === response.data.status) {
          this.processResponse(response);
          this.element.type_id = response.data.item.id;
        }
        else {
          throw new Error(JSON.stringify(response));
        }
      });
    },
    addNewPackage() {
      return axios.post(route('api.package.add'), {
        title: this.newPackageTitle
      }).then((response) => {
        if ("success" === response.data.status) {
          this.processResponse(response);
          this.element.package_id = response.data.item.id;
        }
        else {
          throw new Error(JSON.stringify(response));
        }
      });
    }
  }
};
</script>

