<template>
  <div class="elements">
    <elements-by-type :packages="packages" :type="selectedType" :units="units" v-if="selectedType"></elements-by-type>
  </div>
</template>

<script>

import {EventBus} from "../EventBus";
import ElementsByType from "./ElementsByType";

export default {
  name: "Elements",
  components: {
    ElementsByType,
  },
  data() {
    return {
      selectedType: null,
    };
  },
  props: {
    packages: Array,
    units: Object,
  },
  methods: {
    onTypeSelected(type) {
      this.selectedType = type;
    },
  },
  created: function () {
    EventBus.$on("type-selected", this.onTypeSelected);
    EventBus.$on("type-added", this.onTypeSelected);
    EventBus.$on("type-changed", this.onTypeSelected);
  },
};
</script>

