<template>
  <form class="generate-by-series-form" v-trim-whitespace>
    <fieldset class="series">
      <legend>Ряд</legend>
      <div class="form-inline-group">
        <label for="e24"><input type="radio" id="e24" value="E24" v-model="seriesName">E24</label>
      </div>
    </fieldset>
    <fieldset class="unit">
      <legend>Ед. изм.</legend>
      <div class="form-inline-group">
          <label :for="'id-' + name" v-for="name of units"><input type="radio" :id="'id-' + name" :value="name" v-model="unit"/>{{ name }}</label>
      </div>
    </fieldset>
    <fieldset class="multiplier">
      <legend>Размерность</legend>
      <div class="form-inline-group">
          <label for="multiplier-1"><input type="radio" id="multiplier-1" :value="1" v-model="multiplier"/>единицы</label>
          <label for="multiplier-10"><input type="radio" id="multiplier-10" :value="10" v-model="multiplier"/>десятки</label>
          <label for="multiplier-100"><input type="radio" id="multiplier-100" :value="100" v-model="multiplier">сотни</label>
      </div>
    </fieldset>
    <div class="form-inline-group">
      <autocomplete v-model="packageId" :items="packages" @title="onPackageTitle">Корпус</autocomplete>
    </div>
    <div class="form-group">
      <label>Кол-во каждого значения</label>
      <input type="number" min="1" v-model="qty"/>
      <field-error :errors="errors" :field="'qty'"></field-error>
    </div>
  </form>
</template>

<script>
import FieldError from "../FieldError";
import Autocomplete from "../Autocomplete";
import {MsgToUser} from "../mixins";

export default {
  name: "GenerateBySeries",
  mixins: [
    MsgToUser,
  ],
  components: {
    FieldError,
    Autocomplete,
  },
  props: {
    typeId: String,
    packages: Array,
    series: {
      type: Array,
      default: () => {
        return ["E24"];
      },
    },
    units: Array,
    multipliers: {
      type: Object,
      default: () => {
        return {"1": "единицы", "10": "десятки", "100": "сотни"};
      },
    }
  },
  data() {
    return {
      seriesName: "E24",
      unit: this.units[0],
      multiplier: "1",
      newPackageTitle: "",
      packageId: "",
      qty: "",
      errors: new Map(),
    };
  },
  methods: {
    onPackageTitle(title) {
      this.newPackageTitle = title;
    },
    generate() {
      this.errors = new Map();
      if (!this.packageId) {
        this.addNewPackage().then(() => {
          this._generate();
        }).catch((error) => {
          // Ошибка о добавлении
          this.processCatchError(error);
          // и информация для пользователя.
          this.showInfo("Не удалось добавить новый корпус.");
        });
      }
      else {
        this._generate();
      }
    },
    _generate() {
      let data = {
        series: this.seriesName,
        unit: this.unit,
        multiplier: this.multiplier,
        qty: this.qty,
      };
      axios.post(route("api.elements.generate_by_series", {package: this.packageId, type: this.typeId}), data)
          .then((response) => {
            this.processResponse(response);
            if ("fail" === response.data.status) {
              for (let field in response.data.errors) {
                this.errors = new Map(this.errors.set(field, response.data.errors[field]));
              }
            }
            else {
              this.$emit("generated", response.data.items);
            }
          });
    },
    addNewPackage() {
      return axios.post(route("api.package.add"), {
        title: this.newPackageTitle
      }).then((response) => {
        if ("success" === response.data.status) {
          this.processResponse(response);
          this.packageId = response.data.item.id;
        }
        else {
          throw new Error(JSON.stringify(response));
        }
      });
    }
  }
};
</script>
