<template>
  <div class="new-package-qty">
    <div class="form-inline-group">
      <autocomplete v-model="package_id" :items="data.packages" @title="onPackageTitle">Корпус</autocomplete>
      <div class="form-group">
        <label>Кол-во</label>
        <input type="number" min="0" v-model="qty"/>
      </div>
    </div>
  </div>
</template>

<script>
import {MsgToUser, RouteAdapter} from "../mixins";
import Autocomplete from "../Autocomplete";

export default {
  name: "NewPackageQty",
  components: {
    Autocomplete
  },
  mixins: [
    MsgToUser,
    RouteAdapter,
  ],
  data() {
    return {
      package_id: null,
      newPackageTitle: "",
      qty: 0,
    };
  },
  props: {
    data: Object,
  },
  methods: {
    onPackageTitle(title) {
      this.newPackageTitle = title;
    },
    add() {
      if (null === this.package_id) {
        // Добавление кол-ва подождет добавления нового корпуса.
        this.addPackage().then(() => {
          this.$emit("add", {
            element_id: this.data.element_id,
            package_id: this.package_id,
            qty: this.qty,
          });
        }).catch((error) => {
          // Ошибка о добавлении
          this.processResponse(JSON.parse(error.message));
          // и информация для пользователя.
          this.showInfo("Не удалось добавить новый корпус.");
        });
      }
      else {
        this.$emit("add", {
          element_id: this.data.element_id,
          package_id: this.package_id,
          qty: this.qty,
        });
      }
    },
    addPackage() {
      return axios.post(route('api.package.add'), {
        title: this.newPackageTitle
      }).then((response) => {
        if ("success" === response.data.status) {
          this.processResponse(response);
          this.package_id = response.data.item.id;
        }
        else {
          throw new Error(JSON.stringify(response));
        }
      });
    },
  }
};
</script>

