<template>
  <div class="type-item" v-trim-whitespace>
    <div class="type flexed" :class="type.selected ? 'selected' : ''" v-if="!type.is_editing">
      <drop class="drop"
          v-if="!type.is_editing"
          :class="{'drag-over': isDragover}"
          @drop="handleDrop"
          @dragover="handleDragover(type, ...arguments)"
          @dragleave="handleDragleave">
        <drag class="item-title"
            tag="span"
            :transfer-data="{type}"
            :draggable="!type.is_editing"
            @dragstart="handleDragStart">
          <span @click="select">{{ type.title }}</span>
          <span slot="image" class="drag-image">{{ type.title }}</span>
        </drag>
      </drop>
      <div class="type-item-actions">
        <button type="button" class="btn btn-link" title="Редактировать" @click="editOn(type.id)"><span class="icon icon-edit"></span></button>
        <button type="button" class="btn btn-link" title="Удалить" @click="deleteType(type)" v-if="type.can_be_deleted"><span class="icon icon-delete"></span></button>
        <button type="button" class="btn btn-link" title="Добавить подтип" @click="newSubType" v-if="!type.is_editing"><span class="icon icon-add"></span></button>
      </div>
      <button type="button" class="btn btn-link expander" title="Развернуть/свернуть"
          @click="toggleChildren()"
          v-if="hasChildren()">
        <span class="icon" :class="type.is_collapsed ? 'icon-expand' : 'icon-collapse'"></span>
      </button>
    </div>
    <div class="edit-item" v-else>
      <div class="flexed">
        <input type="text" v-model="type.title"
            :placeholder="placeholder"
            :class="errors.has('title') ? 'error' : ''"
            @keydown.enter.stop.prevent="onEnter"
            @keydown.esc.stop.prevent="onEsc"
            ref="title"
        />
        <div class="type-item-actions">
          <button type="button" class="btn btn-link" title="Сохранить" @click="save"><span class="icon icon-save"></span></button>
        </div>
      </div>
      <label title="Значения элементов из рядов E12, E24 и т.д."><input type="checkbox" value="1" v-model="type.has_series"/>значения по рядам</label>
      <div class="invalid-feedback d-block" v-if="errors.has('title')">{{ errors.get("title") }}</div>
      <small class="form-text text-muted">Enter - сохранить, Esc - отменить</small>
      <div class="form-group units">
        <label>Единицы измерения</label>
        <select v-model="type.units_type">
          <option v-for="(unit, type) in units" :value="type">{{unit.title}}</option>
        </select>
      </div>
    </div>
    <ul v-if="hasChildren()" v-show="!type.is_collapsed">
      <li v-for="(child, index) of type.children" :key="index">
        <type ref="child" :init-type="child" @edit-on="editOn(child.id)"></type>
      </li>
    </ul>
  </div>
</template>

<script>
import axios from "axios";
import {InlineEdit, MsgToUser, RouteAdapter} from "../mixins";
import {EventBus} from "../EventBus";
import {Drag, Drop} from "vue-drag-drop";

export default {
  name: "Type",
  mixins: [
    MsgToUser,
    InlineEdit,
    RouteAdapter,
  ],
  components: {
    Drag,
    Drop,
  },
  data() {
    return {
      type: this.initType,
      isDragover: false,
      errors: new Map(),
    };
  },
  props: {
    initType: Object,
    units: Object,
  },
  computed: {
    hasEditing() {
      if (this.type.is_editing) {
        return true;
      }

      for (let i in this.type.children) {
        if (this.itemEditingOrHasEditingChild(this.type.children[i])) {
          return true;
        }
      }

      return false;
    },
  },
  methods: {
    itemEditingOrHasEditingChild(item) {
      if (item.is_editing) {
        return true;
      }

      for (let i in item.children) {
        if (this.itemEditingOrHasEditingChild(item.children[i])) {
          return true;
        }
      }

      return false;
    },
    hasChildren() {
      return Object.keys(this.type.children).length > 0;
    },
    select() {
      this.type.selected = true;
      EventBus.$emit("type-selected", this.type);
      if (this.hasChildren()) {
        this.toggleChildren();
      }
    },
    onTypeSelected(type) {
      this.type.selected = this.type.id === type.id;
    },
    toggleChildren() {
      this.type.is_collapsed = !this.type.is_collapsed;
    },
    handleDragStart(data) {
      data.item = this.type;
      data.type = "type";
    },
    handleDragover(type, data) {
      this.isDragover = true;
      if ("type" === data.type && type.id !== data.item.id) {
        data.item.parent_id = type.id;
      }
    },
    handleDragleave(data) {
      this.isDragover = false;
      if ("type" === data.type) {
        data.item.parent_id = data.item.orig_parent_id;
      }
    },
    handleDrop(data) {
      this.isDragover = false;
      switch (data.type) {
        case "type":
          let type = data.item;
          if (this.type.id === type.id
              || this.type.parent_id === type.parent_id
              || this.type.id !== type.parent_id) {
            return;
          }

          axios.put(route("api.type.move_to_type", {
            id: type.id,
            parent_id: type.parent_id
          })).then((response) => {
            this.processResponse(response);
            if ("success" === response.data.status) {
              let orig_parent_id = type.orig_parent_id;
              type.orig_parent_id = type.parent_id;
              EventBus.$emit("type-moved", type, orig_parent_id, type.parent_id);
            }
            else {
              type.parent_id = type.orig_parent_id;
            }
          }).catch((response) => {
            this.processCatch(response);
          });
          break;

        case "element":
          let element = data.item;
          if (this.type.id === element.type_id) {
            return;
          }

          axios.put(route("api.element.move_to_type", {
            id: element.id,
            type_id: this.type.id
          })).then((response) => {
            this.processResponse(response);
            if ("success" === response.data.status) {
              EventBus.$emit("element-moved", element.type_id, element.id);
            }
          }).catch((response) => {
            this.processCatch(response);
          });
          break;

        default:
          break;
      }
    },
    isChild(children, type) {
      for (let child_id in children) {
        if (type.id === child_id) {
          return true;
        }
        if (this.isChild(children[child_id].children, type)) {
          return true;
        }
      }
      return false;
    },
    onTypeMoved(type, from_parent_id, to_parent_id) {
      if (this.type.id === from_parent_id && this.isChild(this.type.children, type)) {
        this.removeType(type);
      }
      else if (this.type.id === to_parent_id) {
        this.type.children[type.id] = type;
        this.type.children = Object.assign({}, this.type.children);
      }
    },
    onTypeCanBeDeleted(type_id, can) {
      if (type_id === this.type.id) {
        this.type.can_be_deleted = can;
      }
    },
    removeType(type) {
      let needs_to_update = false;
      for (let id in this.type.children) {
        if (id === type.id) {
          delete this.type.children[id];
          needs_to_update = true;
        }
      }
      if (needs_to_update) {
        this.type.children = Object.assign({}, this.type.children);
      }
    },
    deleteType(type) {
      EventBus.$emit("type-delete", type);
    },
    onEnter() {
      this.save();
    },
    onEsc() {
      this.errors.clear();
      if (this.type.is_new) {
        EventBus.$emit("new-type-esc", this.type);
      }
      else {
        this.resetItemEditable();
      }
    },
    editOn(type_id) {
      if (type_id === this.type.id) {
        this.type.is_editing = true;
        this.setFocus();
      }
    },
    newItem() {
      return {
        id: "",
        title: "",
        title_original: "",
        is_editing: true,
        is_new: true,
        has_series: false,
        has_series_original: false,
        units_type: '',
        units_type_original: '',
        can_be_deleted: true,
        selected: false,
        is_collapsed: true,
        parent_id: this.type.id,
        orig_parent_id: this.type.is,
        level: 1,
        children: {},
      };
    },
    newSubType() {
      let newItem = this.newItem();
      this.type.children[newItem.id] = newItem;
      this.type.children = Object.assign({}, this.type.children);
      let index = Object.keys(this.type.children).length - 1;
      this.type.is_collapsed = false;
      this.$nextTick(() => {
        this.$refs.child[index].setFocus();
      });
    },
    onNewSubTypeEsc(type) {
      if (type.parent_id === this.type.id) {
        delete this.type.children[""];
        this.type.children = Object.assign({}, this.type.children);
      }
    },
    onSubTypeAdded(newType) {
      if (newType.parent_id === this.type.id) {
        delete this.type.children[""];
        this.type.children[newType.id] = newType;
        this.type.children = Object.assign({}, this.type.children);
      }
    },
    save() {
      if (this.type.is_new) {
        this._validate();
        if (!this.errors.size) {
          axios.post(route("api.type.add"), {
            title: this.type.title,
            parent_id: this.type.parent_id,
            has_series: this.type.has_series ? 1 : 0,
            units_type: this.type.units_type,
          }).then((response) => {
            if ("fail" === response.data.status) {
              this.processErrorsInResponse(response);
            }
            else {
              this.type.id = response.data.item.id;
              this.type.is_new = false;
              this.type.is_editing = false;
              this.type.title_original = this.type.title;
              this.type.units_type_original = this.type.units_type;
              this.processSuccessInResponse(response);
              EventBus.$emit("type-added", this.type);
              this.select();
            }
          }).catch((response) => {
            this.processCatch(response);
          });
        }
      }
      else {
        if (!this._isItemChanged()) {
          this.type.is_editing = false;
          return;
        }

        this._validate();

        if (!this.errors.size) {
          axios.put(route("api.type.change"), {
            id: this.type.id,
            title: this.type.title,
            has_series: this.type.has_series ? 1 : 0,
            units_type: this.type.units_type,
          }).then((response) => {
            if ("fail" === response.data.status) {
              this.processErrorsInResponse(response);
            }
            else {
              this.type.is_editing = false;
              this.type.title_original = this.type.title;
              this.type.has_series_original = this.type.has_series;
              this.type.units_type_original = this.type.units_type;
              EventBus.$emit("type-changed", this.type);
              this.processSuccessInResponse(response);
            }
          }).catch((response) => {
            this.processCatch(response);
          });
        }
      }
    },
    resetItemEditable() {
      this.type.title = this.type.title_original;
      this.type.has_series = this.type.has_series_original;
      this.type.units_type = this.type.units_type_original;
      this.type.is_editing = false;
    },
    resetItemEditableWithChildren() {
      this.resetItemEditable();

      for (let i in this.type.children) {
        this.$refs.child[i].resetItemEditableWithChildren();
      }
    },
    _isItemChanged() {
      return this.type.title.trim().toLowerCase() !== this.type.title_original.trim().toLowerCase()
          || this.type.has_series !== this.type.has_series_original
          || this.type.units_type !== this.type.units_type_original;
    },
    _validate() {
      this.errors.clear();

      if (!this.type.title.trim().length) {
        this.errors = new Map(this.errors.set("title", "Название обязательно."));
      }
    },
    setFocus() {
      this.$nextTick(() => {
        this.$refs.title.focus();
      });
    },
  },
  created: function () {
    EventBus.$on("type-moved", this.onTypeMoved);
    EventBus.$on("type-can-be-deleted", this.onTypeCanBeDeleted);
    EventBus.$on("type-selected", this.onTypeSelected);
    EventBus.$on("new-type-esc", this.onNewSubTypeEsc);
    EventBus.$on("type-added", this.onSubTypeAdded);
  },
};
</script>
