<template>
  <ul class="types">
    <li class="type-root-drop">
      <drop class="drop"
          :class="{'drag-over': isDragover}"
          @drop="handleDrop"
          @dragover="handleDragover"
          @dragleave="handleDragleave">-ROOT-
      </drop>
    </li>
    <li class="new-item" v-if="!hasEditing">
      <button type="button" class="btn btn-link" @click="newType"><span class="icon icon-add"></span> добавить тип</button>
    </li>
    <li v-for="(item, index) of items" :key="index">
      <type ref="type" :init-type="item" :units='units'></type>
    </li>
  </ul>
</template>

<script>

import {InlineEdit, MsgToUser, RouteAdapter} from "../mixins";
import Type from "./Type";
import {Drop} from "vue-drag-drop";
import {EventBus} from "../EventBus";

export default {
  name: "Types",
  components: {
    Type,
    Drop,
  },
  mixins: [
    MsgToUser,
    InlineEdit,
    RouteAdapter,
  ],
  data() {
    return {
      items: this._buildItemsFromResponse(this.initTypes),
      isDragover: false,
    };
  },
  props: {
    initTypes: Object,
    units: Object,
  },
  computed: {
    hasEditing() {
      for (let i in this.items) {
        if (this.itemEditingOrHasEditingChild(this.items[i])) {
          return true;
        }
      }

      return false;
    },
  },
  methods: {
    itemEditingOrHasEditingChild(item) {
      if (item.is_editing) {
        return true;
      }

      for (let i in item.children) {
        if (this.itemEditingOrHasEditingChild(item.children[i])) {
          return true;
        }
      }

      return false;
    },
    handleDragover(data) {
      if ("type" === data.type) {
        this.isDragover = true;
        data.item.parent_id = null;
      }
    },
    handleDragleave(data) {
      if ("type" === data.type) {
        this.isDragover = false;
        data.item.parent_id = data.item.orig_parent_id;
      }
    },
    handleDrop(data) {
      this.isDragover = false;
      if ("type" === data.type) {
        let type = data.item;
        if (null === type.orig_parent_id) {
          return;
        }
        axios.put(route("api.type.move_to_type", {
          id: type.id,
          parent_id: null
        })).then((response) => {
          this.processResponse(response);
          if ("success" === response.data.status) {
            let orig_parent_id = type.orig_parent_id;
            type.orig_parent_id = null;
            this.items[type.id] = type;
            this.items = Object.assign({}, this.items);
            EventBus.$emit("type-moved", type, orig_parent_id, null);
          }
        }).catch((response) => {
          this.processCatch(response);
        });
      }
    },
    onTypeMoved(type, from_parent_id, to_parent_id) {
      if (null === from_parent_id) {
        delete this.items[type.id];
        this.items = Object.assign({}, this.items);
        return;
      }
      if (null === to_parent_id) {
        this.items[type.id] = type;
        this.items = Object.assign({}, this.items);
      }
    },
    newItem() {
      return {
        id: "",
        title: "",
        title_original: "",
        is_editing: true,
        is_new: true,
        has_series: false,
        has_series_original: false,
        units_type: '',
        units_type_original: '',
        can_be_deleted: true,
        selected: false,
        is_collapsed: true,
        parent_id: null,
        orig_parent_id: null,
        level: 1,
        children: {},
      };
    },
    newType() {
      let newItem = this.newItem();
      this.items[newItem.id] = newItem;
      this.items = Object.assign({}, this.items);
      let index = Object.keys(this.items).length - 1;
      this.$nextTick(() => {
        this.$refs.type[index].setFocus();
      });
    },
    onNewTypeEsc(type) {
      if (null === type.parent_id) {
        delete this.items[""];
        this.items = Object.assign({}, this.items);
      }
    },
    onTypeAdded(newType) {
      if (null === newType.parent_id) {
        delete this.items[""];
        this.items[newType.id] = newType;
        this.items = Object.assign({}, this.items);
      }
    },
    typeDelete(type) {
      axios.delete(route("api.type.delete", {type: type.id})).then((response) => {
        if ("fail" === response.data.status) {
          this.processErrorsInResponse(response);
        }
        else {
          this.processSuccessInResponse(response);
          delete this.items[type.id];
          this.items = Object.assign({}, this.items);

          EventBus.$emit("type-deleted", type);
        }
      }).catch((response) => {
        this.processCatch(response);
      });
    },
    _buildItemFromInit(initItem) {
      return {
        id: initItem.id,
        title: initItem.title,
        title_original: initItem.title,
        is_editing: false,
        is_new: false,
        has_series: initItem.has_series,
        has_series_original: initItem.has_series,
        units_type: initItem.units_type,
        units_type_original: initItem.units_type,
        can_be_deleted: 0 === initItem.children.length,
        selected: "undefined" !== typeof initItem.selected ? initItem.selected : false,
        is_collapsed: true,
        parent_id: initItem.parent_id,
        orig_parent_id: initItem.parent_id,
        level: initItem.level,
        children: {},
      };
    },
    _buildItemsFromResponse(response_items) {
      let items = {};
      for (let i in response_items) {
        let id = response_items[i].id;
        items[id] = this._buildItemFromInit(response_items[i]);
        items[id].children = this._buildItemsFromResponse(response_items[i].children);
      }
      return items;
    },
  },
  created: function () {
    EventBus.$on("type-moved", this.onTypeMoved);
    EventBus.$on("new-type-esc", this.onNewTypeEsc);
    EventBus.$on("type-added", this.onTypeAdded);
    EventBus.$on("type-delete", this.typeDelete);
  },
  mounted: function () {
    let first_id = Object.keys(this.items)[0];
    let selectedType = this.items[first_id];
    EventBus.$emit("type-selected", selectedType);
  }
};
</script>
